@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: sans-serif;
}
li,
h2,
h1,
p {
  font-family: "Inter", sans-serif !important;
}
@media screen and (min-width: 600px) {
}
body{
  overflow-x: hidden;
}